<a href="https://colab.research.google.com/github/Maheshbaki/Python/blob/main/3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
given_num = [num1,num2]
print(given_num)
arbitrary_num = num1+num2
arbitrary_num

Enter 1st number: 4
Enter 2nd number: 9
[4, 9]

13

In [ ]:
a = 33
b = 33
if a < b:
  print(f"{a} is less than {b}")

elif a == b:
  print(f"{a} is equal to {b}")

else:
    print(f"{a} is greater than {b}")

33 is equal to 33

In [1]:
a = int(input("enter value1 : "))
b = int(input("enter value2 : "))

if a >= b:
  print("True")
else :
  print("False")

enter value1 : 89
enter value2 : 90
False

In [2]:
num1 = float(input("number 1 = "))
num2 = float(input("number 2 = "))

sum = num1 + num2

avg = sum/2
print(f"your average = {avg}")

number 1 = 5
number 2 = 95
your average = 50.0

## Q11

In [11]:
matx = [[170,2,3],
        [4,78,6],
        [7,8,55]]
a = matx[0][0]
b = matx[1][1]
c = matx[2][2]

def add(a,b,c):
  sum = a+b+c
  return sum

add(a,b,c)

303

## Q10

In [12]:
for i in range(1,51):

  if i % 3 == 0 and i % 5 == 0:
    print("Fizzbuzz")
  elif i % 3 == 0:
    print("Fizz")

  elif i % 5 == 0:
    print("Buzz")

  else:
    print(i**2)

1
4
Fizz
16
Buzz
Fizz
49
64
Fizz
Buzz
121
Fizz
169
196
Fizzbuzz
256
289
Fizz
361
Buzz
Fizz
484
529
Fizz
Buzz
676
Fizz
784
841
Fizzbuzz
961
1024
Fizz
1156
Buzz
Fizz
1369
1444
Fizz
Buzz
1681
Fizz
1849
1936
Fizzbuzz
2116
2209
Fizz
2401
Buzz