<a href="https://colab.research.google.com/github/Maheshbaki/Python/blob/main/5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = [3, 1, 4, 1, 5,6,9,9,9,2]
ascd = sorted(num, reverse=True)
print(ascd)

if ascd[1] == ascd[2]:
  print(ascd[3])

elif ascd[0] == ascd[1]:
    print(ascd[2])



else:
  print(ascd[1])

[9, 9, 9, 6, 5, 4, 3, 2, 1, 1]
6

In [ ]:
num = [3, 1, 4, 1, 5,9, 9, 2]
num[2]

4

In [ ]:
(2,3,4)* 2

(2, 3, 4, 2, 3, 4)

In [ ]:
def multi(x,y=2,*args):
  mul = x*y
  for i in args:
    mul = mul*i
  return mul

In [ ]:
lst = []
num = input("enter your number - ")
num = int(num)+1
for i in range(1,num):
  lst.append(i)


multi(*lst)

enter your number - 7

5040

In [ ]:
num = input("enter your number - ")
num = int(num)+1
for i in range(1,num):
  factl=1

  for j in range(1,i+1):
   factl = factl*j
  print(factl)

enter your number - 5
1
2
6
24
120

In [1]:
name = input("enter name")
length = len(name)
print(f"length is {length}")

enter namevimala
length is 6

In [5]:
txt = '''The United States dollar, or U.S. dollar, is made up of 100 cents.
It is represented by the symbol $ or US$ to differentiate it from other dollar-based currencies.
The U.S. dollar is considered a benchmark currency and is the most used currency in transactions around the world.
'''
countt = txt.count("$")
print(countt)

2

In [20]:
anil_marks = {"maths": 71,
              "physics": 80,
              "chem":95,
              "telugu":33,
              "biolg": 45}

for k,v in anil_marks.items():
  if v >= 90:
    print("grade A in ",k)
  elif v >= 80 and v <90:
    print("grade B in ",k)
  elif v >= 70 and v <80:
    print("grade C in ",k)
  else:
    print("failed in ",k)

grade C in  maths
grade B in  physics
grade A in  chem
failed in  telugu
failed in  biolg

In [21]:
sunil_marks = {"maths": 90,
              "physics": 65,
              "chem": 89,
              "telugu": 94,
              "biolg": 76}

for k,v in sunil_marks.items():
  if v >= 90:
    print("grade A in ",k)
  elif v >= 80 and v <90:
    print("grade B in ",k)
  elif v >= 70 and v <80:
    print("grade C in ",k)
  else:
    print("failed in ",k)

grade A in  maths
failed in  physics
grade B in  chem
grade A in  telugu
grade C in  biolg